*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoratin: none;
	font-family: sans-serif;
	font-size: 14px;
	text-decoration: none;
}

body{
	width: 100%;
	min-height: 100vh;
	background-color:#fafafa;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.instagram-wrapper{
	display: flex;
	align-items: center;
	justify-content: start;
	width: 60%;
	height: 100vh;
	flex-shrink: 1;
}

.instagram-phone{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	position: relative;
}

.instagram-phone img{
	height: 40rem;
}

.instagram-continue{
	display: flex;
	align-items: center; /* horizontal */
	justify-content: space-around; /* vertical */
	flex-direction: column;
	width: 50%;
	min-height: 34rem;
}

.flexform{
	margin-top: 30px;
	height: 180px;
	/*width: 390px;*/
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

}


span{
	display: flex;
	color: #959291;
	font-weight:bold;
	
}

/* Linhas Esquerda "OU" */
.flexform span::before{
	content: "";
	width: 115px;
	height: 2px;
	background-color: #dfdfdf;
	margin-top:6px;
	margin-right: 20px;

}

/* Linha Direita "OU" */
.flexform span::after{
	display: block;
	content: "";
	height: 2px;
	width: 115px;
	background-color: #dfdfdf;
	margin-left: 20px;
	margin-top:6px;

}

/* Caixa de texto Form */
.stylecaixa{
	height: 37px;
	width: 300px;
	margin: -2px 0;
	border: 1px solid lightgrey;
	background-color: #fafafa;
	border-radius: 3px;
	padding-left: 10px;
	color:#8c8e8e;
	font-size: 0.8em;
}

/* Botao Form */
#stylebotao{
	margin-top:5px;
	height: 35px;
	width: 300px;
	background-color: #0095f6;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	border: none;
}
 .links-login{
 	height: 60px;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: space-around;
 	position: relative;

 }


 .links-login p a{
 	color: #305184;
 	font-weight: bold;
 }

 .links-login a{
 	color: #305184;
 }

 .links-login img{
 	width: 20px;
 	position: absolute;
 	margin-left: -23px;
 	margin-top: -2px;
 }


.group{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	width: 100%;
	padding: 1.3rem 0;
	border: 1px solid lightgrey;
	margin-bottom: 10px;
}

.group:nth-child(1){
	min-height: 19rem;
}


.logo-instagram{
	height: 3rem;
}

.profile-photo{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	overflow: hidden;
}

.profile-photo img {
	height: 6rem;
}

.instagram-login{
	background-color: #0095f6;
	color:  #fff;
	padding: 8px;
	border-radius: 4px;
	margin-top: 1.5rem;
}

.instagram-logout{
	color: #0095f6;
	margin-top: 1rem;
}

.not-account{
	color: none;
}

.link-blue{
	color: #0095f6;
	font-weight: bold;
}

.get-the-app{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1.3rem 0;
}

.download{
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	padding: 1rem;
}

.app-download{
	height: 3rem;
	width: 10rem;
	background-size: cover;
}

.app-download:nth-child(1){
	background-image: url('./imagens/app-store.png');
}

.app-download:nth-child(2){
	background-image: url('./imagens/play-store.png');
}

/* media queries */

@media(max-width: 1024){
	.instagram-wrapper{
		width: 90%;
	}
}

@media(max-width: 980px){
	.body{
		background-color: #fafafa;
	}

	.instagram-wrapper{
		width: 90%;
	}

	
	.instagram-phone{
		display: none;
	}

	.instagram-continue{
		width: 100%;
	}

	.group{
		border: 1px solid transparent;
	}
}